<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1Ijoic3BhcmsxMCIsImEiOiJjbDl0Mm14OTEwYTEyM29sZXR1ejV4emEzIn0.hWwhgNbZ0_Olp500L7gRrQ</string>
	<key>MXBAccess</key>
	<string>pk.eyJ1Ijoic3BhcmsxMCIsImEiOiJjbDl0Mm14OTEwYTEyM29sZXR1ejV4emEzIn0.hWwhgNbZ0_Olp500L7gRrQ</string>
</dict>
</plist>
